version 5.216.0

source https://api.nuget.org/v3/index.json
storage: packages

group Build
source https://api.nuget.org/v3/index.json
storage:

nuget Fake.Core.Environment
nuget Fake.Core.ReleaseNotes
nuget Fake.Core.Target
nuget Fake.Documentation.DocFx
nuget Fake.DotNet.Cli
nuget Fake.DotNet.Paket
nuget Fake.Tools.Git
nuget Octokit

github fsharp/FAKE modules/Octokit/Octokit.fsx

http https://github.com/dotnet/docfx/releases/download/v2.45/docfx.zip
