source https://nuget.org/api/v2

group Build
    source https://nuget.org/api/v2

    nuget FAKE
    nuget FSharp.Formatting
    nuget SourceLink.Fake

    github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
    source https://nuget.org/api/v2

    nuget FSharp.Core
    nuget FsUnit
    nuget NUnit
    nuget NUnit.Runners
